image: python:latest

stages:
  - check
  - build
  - test
  - deploy

check-job:
  stage: check
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script:
    - pip install hatch
    - hatch run checks:lint
    
build-job:
  stage: build
  needs:
    - check-job
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - pip install hatch
    - hatch build
  artifacts:
    paths:
      - dist/*

deploy-pypi-job:
  stage: deploy
  needs:
    - build-job  
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - pip install hatch    
    - echo "Hello, world"
    - cd dist
    - ls -al

release-gitlab-job:
  stage: deploy
  needs:
    - build-job  
  rules:
    - if: $CI_COMMIT_TAG
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - apk update && apk add git
    - git log $CI_COMMIT_TAG...$(git tag --sort=-creatordate | grep -A 1 $CI_COMMIT_TAG | tail -n 1) --no-merges --pretty="format:%h %s @%cn"